<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="todo">
        <form action="/add" method="post">
            <input type="text" name="content"/>
            <input type="submit" name="add" value="add"/>
        </form>
        <hr>
        <ul>
            <% if (todos && todos.length > 0) { %>
                <% todos.forEach(function(todo){ %>
                    <li>
                        <span><%= todo.content %></span>
                        <a href="/edit/<%= todo._id %>">edit</a>
                        <a href="/del/<%= todo._id %>">delete</a>
                    </li>
                <% }); %>
            <% } %>
        </ul>

    </div>
  </body>
</html>